<section>
    <div class="col-md-6 col-md-offset-3 add-hero-form" id="add-hero-form">
        <header class="main-header"><h2>ADD NEW HERO</h2></header>
        <form>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="name">Hero Name</label>
            </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="text" id="name" class="form-control" placeholder="Enter Hero Name...">
            </div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>Hero Class</label>
            </div>
                {{#classes}}
                <div class="hero-class col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                    <label for="{{name}}" class="form-control class-name" id="hero-name-label">{{name}}</label>
                    <p>Attack points: <span class="badge">{{attackPoints}}</span></p>
                    <p>Defense points: <span class="badge">{{defensePoints}}</span></p>
                    <p>Life points: <span class="badge">{{lifePoints}}</span></p>
                    <input type="radio" value="{{_id}}" name="class" id="{{name}}" class="form-control"/>
                </div>
                {{/classes}}
            <span class="clearfix"></span>
        </form>
        <div class="form-group row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div id="addHero" class="btn btn-lg btn-default full">Add</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div id="cancel-btn" class="btn btn-lg btn-default full">Cancel</div>
            </div>
        </div>
    </div>
</section>