<div class="row pad">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="btn btn-lg btn-default full"><a href="#/home/">Home</a></div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="btn btn-lg btn-default full"><a href="#/heroes/list/">Heroes</a></div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="btn btn-lg btn-default full"><a href="#/heroes/add/">Add Hero</a></div>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="btn btn-lg btn-default full"><a href="#/logout/">Logout</a></div>
    </div>
</div>
